#logo {
    width: 200px;
    height: 110px;
}

#div-titolo {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

#titolo {
    font-size: 150px;
    font-weight: bolder;
}

#sottotitolo {
    font-style: italic;
}

#div-p2 {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(68, 68, 68, 0.534);
    height: 100%;
}

#div-domnd {
    display: flex;
    text-align: center;
    justify-content: center;
}

.div-p3-1 {
    margin: 10px;
}

.termini {
    font-style: italic;
    font-size: 15px;
}

.a-p {
    text-decoration: none;
    font-size: 14;
    color: rgb(129 140 248);
}

.div-p3 {
    padding: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(27, 27, 27, 0.582);
    border-radius: 15px;
    margin: 10px;
}

#img-p3 {
    width: 100px;
    height: 100px;
}

#div-p5 {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    backdrop-filter: blur(5px);
    background-color: rgba(68, 68, 68, 0.534);
}

#tabella {
    backdrop-filter: blur(5px);
    background-color: rgba(27, 27, 27, 0.582);
    border-radius: 10px;
    padding: 20px;
}

#btn-scarica {
    width: 250px;
    height: 100px;
    font-size: 40px;
    font-weight: bolder;
    backdrop-filter: blur(5px);
    background-color: navy;
    border-radius: 25px;
    color: wheat;
    border: 0;
}

#h1scarica {
    font-size: 40px;
    font-weight: bolder;
}

.th1 {
    padding: 10px;
}

#bar {
    width: 50px;
}

