@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter.ttf") format("truetype");
    font-weight: 100 900; /* Intervallo di peso del font variabile */
    font-stretch: 75% 100%; /* Intervallo di larghezza del font variabile */
}

body {
    font-family: "Inter", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: wheat;
    background-image: url("../img/Background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------ HEAD ------------------------------ */

#head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
}

#head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 10%;
    height: 100%;
    padding-top: 100px;
    padding-left: 300px;
}

#a-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    height: 50%;

    text-decoration: none;

    border: 1px solid yellow;
}

#arrow-back {
    display: flex;
}

#text {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: wheat;
}

/* ------------------------------ MAIN ------------------------------ */

#main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#div-form {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    border: 1px solid black;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
}

#h2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 30px;
}

#p {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
}

/* ------------------------------ FORM ------------------------------ */

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 50%;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 70%;
}

.btn-inputs {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0.5);
    border: 1px solid grey;
}

#div-email {
    display: flex;

    width: 80%;
    height: 40px;

    margin-top: 40px;
    margin-bottom: 30px;
}

#email {
    display: flex;
    padding-left: 10px;
    font-size: 15px;
    font-family: inherit;
    color: white;

    width: 100%;
    height: 100%;
}

#div-password {
    display: flex;

    width: 80%;
    height: 40px;

    margin-top: 0;
}

#input-password {
    position: relative;

    width: 100%;
    height: 100%;

    padding-right: 15px;
}

#password {
    position: relative;
    padding-left: 10px;
    font-size: 15px;
    font-family: inherit;
    color: white;

    width: 100%;
    height: 100%;
}

#btn-occhio {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#div-accedi {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 30%;
}

#btn-login-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: inherit;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
    background-color: rgb(50 50 200);
    color: wheat;
    cursor: pointer;

    width: 50%;
    height: 60%;
}

/* ------------------------------ FOOT ------------------------------ */

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 30%;
}

#distacco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

span {
    background-image: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.div-distacco {
    width: 100%;
    height: 1px;
    background-color: grey;
}

#elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#p1 {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

#p2 {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.btn-foot {
    display: flex;
    background-color: transparent;
    color: rgb(129 140 248);
    border: 0;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
